@use "./../partials/palette";
@use "./../partials/mixins";

#contact {
    grid-area: footer;
}

.footer {
    &__heading {
        @extend %heading;
    }

    &__fancy-line {
        @extend %fancy-line;
    }

    &__social-media {
        @include mixins.flex($just-cont: space-between);
        margin: 50px 0;
    }

    &__links {
        @include mixins.background-and-color(
            palette.$link-background,
            palette.$primary-color
        );
        opacity: 0.8;
        border-radius: 30%;
        box-shadow: 0px 5px 15px -5px palette.$link-shadow;
        transition: all 0.25s;
        padding: 9px;
    }

    &__links:hover {
        opacity: 1;
        transform: scale(1.1);
        @include mixins.background-and-color(
            palette.$primary-color,
            palette.$light-blue
        );
    }

    &__paragraph {
        @include mixins.text-style(16px, 300, 26px);
        @extend %font-body-family;
        text-align: center;
    }
}
