@use "./../partials/palette";
@use "./../partials/mixins";

// animations
@keyframes typewriter {
    to {
        left: 100%;
    }
}

// from black background to transparent-creates a transparent effect
@keyframes blink {
    to {
        background: transparent;
    }
}

// end in a finishing spot
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#landingPage {
    grid-area: hd;
}

.landing-page {
    @include mixins.background-and-color(
        palette.$primary-color,
        palette.$white
    );
    background-size: cover;
    min-height: 100vh;
    @include mixins.flex($just-cont: center, $flx-dir: column);

    &__content {
        @include mixins.flex($just-cont: space-evenly, $flx-dir: column);
        // width: max-content;
        @include mixins.phone {
            @include mixins.flex(
                $flx-dir: column,
                $just-cont: none,
                $flex-wrap: nowrap
            );
        }
        height: 35vh;
    }

    &__heading {
        @include mixins.text-style(85px, 100, none, $spacing: 1rem);
        font-family: "Montserrat", monospace;
        position: relative; /*typewriter covers h1 only and not whole cover-containing block*/
        width: max-content;

        /*ease forwards means that once the animation is run, it does not repeat itself*/
        //steps = how many letters there are including the space in between words

        // pseudoelements-must have a content between them
        &--animation::before,
        &--animation::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &--animation::before {
            background-color: palette.$primary-color;
            animation: typewriter 3s steps(12) forwards;
        }

        &--animation::after {
            width: 0.02em;
            background: palette.$white;
            animation: typewriter 3s steps(12) forwards,
                blink 650ms steps(12) infinite alternate;
        }
    }

    &__para {
        @extend %font-body-family;
        @include mixins.text-style(41px, 300, 70px, $spacing: 0.02em);
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 4s forwards;
    }

    &__button {
        font-family: palette.$navbar-font;
        @include mixins.text-style(1em, 300, 26px, $spacing: 0.02em);
        @include mixins.background-and-color(
            palette.$secondary-color,
            palette.$white
        );
        @include mixins.padding-and-margin(10px 20px, 0);

        border-radius: 50px;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease 5s forwards;

        &--hover:hover {
            text-shadow: 0px 0px 5px palette.$white;
        }
    }
}
