@use "./../partials/palette";
@use "./../partials/mixins";

#techSkills {
    grid-area: tech;
}

.skills {
    @include mixins.background-and-color(
        palette.$light-grey,
        palette.$primary-color
    );
    &__heading {
        @extend %heading;
    }

    &__fancy-line {
        @extend %fancy-line;
    }

    &__tech-skills {
        @include mixins.flex($just-cont: space-evenly);
        @include mixins.phone {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
        }
        &--spacing {
            margin-bottom: 50px;
        }
    }

    &__icon {
        margin-bottom: 10px;
    }

    &__icon-container {
        text-align: center;
        @extend %font-body-family;
    }
}
