.footer__paragraph, .individual-project__paragraph, .skills__icon-container, .about__container, .landing-page__para {
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
}

.individual-project__featured-skills, .navbar {
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
}

.about__container, .navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}

.footer__heading, .projects__heading, .skills__heading, .about__heading {
  font-size: 41px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.footer__fancy-line, .projects__fancy-line, .skills__fancy-line, .about__fancy-line {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #e6d3b0, #f0f0f0);
  margin-bottom: 60px;
}

.navbar {
  background-color: transparent;
  color: white;
  position: fixed;
  transition: all 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /*#373630*/
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}
.navbar__brand {
  font-size: 2em;
  font-weight: bold;
  line-height: none;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  padding: 0.5em 2em;
  color: white;
}
.navbar__list {
  list-style-type: none;
}
.navbar__links {
  font-size: 16px;
  font-weight: 100;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  color: white;
  margin: 50px;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.navbar__links--contact {
  background-color: #1778ed;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  opacity: 1;
}
.navbar__links--contact:hover {
  padding: 15px 25px;
}
.navbar__links--hover:hover {
  opacity: 1;
  padding-bottom: 3px;
  border-bottom: 3px solid #1778ed;
  text-shadow: 0px 0px 5px white;
}

/*ADDING JAVASCRIPT -> HEADER CHANGE*/
.change-color {
  background-color: white;
  color: #0c111a;
  box-shadow: 0 0 50px #ccc;
}
.change-color .navbar__links {
  color: #0c111a;
}
.change-color .navbar__links--contact {
  color: white;
}
.change-color .navbar__brand {
  color: #0c111a;
}
.change-color .navbar__toggle {
  filter: invert(1);
}

@media only screen and (max-width: 1200px) {
  .navbar__menu {
    top: 70px;
    /*hiding our navbar from view*/
    left: -100%;
    position: fixed;
    display: block;
    height: 90vh;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 999;
    background-color: white;
    color: #111;
  }
  .navbar__menu .navbar {
    height: 7%;
  }
  .navbar__menu .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
  }
  .navbar__menu .navbar__links {
    color: #0c111a;
    font-size: 30px;
  }
  .navbar__menu .navbar__links--contact {
    color: white;
  }

  .navbar__menu.active {
    left: 0;
  }

  .navbar__toggle {
    height: 40px;
    width: 37px;
    background: url(Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 50px;
  }

  .navbar__toggle.active {
    background: url(Images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#landingPage {
  grid-area: hd;
}

.landing-page {
  background-color: #0c111a;
  color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}
.landing-page__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  height: 35vh;
}
@media only screen and (max-width: 375px) {
  .landing-page__content {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
}
.landing-page__heading {
  font-size: 85px;
  font-weight: 100;
  line-height: none;
  letter-spacing: 1rem;
  text-transform: none;
  text-decoration: none;
  font-family: "Source Code Sans Pro", monospace;
  position: relative;
  /*typewriter covers h1 only and not whole cover-containing block*/
  width: max-content;
  /*ease forwards means that once the animation is run, it does not repeat itself*/
}
.landing-page__heading--animation::before, .landing-page__heading--animation::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.landing-page__heading--animation::before {
  background-color: #0c111a;
  animation: typewriter 2s steps(12) forwards;
}
.landing-page__heading--animation::after {
  width: 0.02em;
  background: white;
  animation: typewriter 2s steps(12) forwards, blink 650ms steps(12) infinite alternate;
}
.landing-page__para {
  font-size: 41px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 3s forwards;
}
.landing-page__button {
  font-family: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  background-color: #1778ed;
  color: white;
  padding: 10px 20px;
  margin: 0;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 4s forwards;
}
.landing-page__button--hover:hover {
  text-shadow: 0px 0px 5px white;
}
.landing-page__arrow {
  transition: all 200ms ease-in-out;
}
.landing-page__arrow:hover {
  transform: rotate(90deg);
}

#about {
  grid-area: about;
}

.about__container {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  gap: 50px;
}
@media only screen and (max-width: 375px) {
  .about__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 376px) and (max-width: 950px) {
  .about__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1200px) {
  .about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
}
.about__image-container {
  object-fit: contain;
  object-position: center;
}
.about__image {
  height: 300px;
  width: 300px;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
}
.about__para-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: left;
  flex-wrap: nowrap;
  max-width: max-content;
}
@media only screen and (max-width: 375px) {
  .about__para-box {
    max-width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 376px) and (max-width: 950px) {
  .about__para-box {
    max-width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1200px) {
  .about__para-box {
    max-width: 100%;
    text-align: center;
  }
}
.about__paragraph {
  margin-bottom: 27px;
}

#techSkills {
  grid-area: tech;
}

.skills {
  background-color: #f2f2f2;
  color: #0c111a;
}
.skills__tech-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 375px) {
  .skills__tech-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
.skills__tech-skills--spacing {
  margin-bottom: 50px;
}
.skills__icon {
  margin-bottom: 10px;
}
.skills__icon-container {
  text-align: center;
}

#projects {
  grid-area: projects;
}

.projects {
  background-color: #0c111a;
  color: white;
  padding: 55px;
}
.projects__child-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 375px) {
  .projects__child-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    height: 100px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 950px) {
  .projects__child-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1200px) {
  .projects__child-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.individual-project {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  background-color: #222;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 2em;
}
@media only screen and (max-width: 375px) {
  .individual-project {
    width: 100%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 950px) {
  .individual-project {
    width: 75%;
  }
}
.individual-project__image-container {
  position: relative;
  /*allows content to be adjusted from normal positon*/
}
.individual-project__image {
  max-width: 100%;
  height: auto;
  border-radius: 2em 2em 0 0;
  display: block;
  /*removes tiny space at bottom of image */
}
.individual-project__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  opacity: 0;
  /*text is hidden by default*/
  transition: backdrop-filter 0.25s;
  /*no delay in blur effect*/
}
.individual-project__image-overlay-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}
.individual-project__image-overlay-blur {
  border-radius: 2em 2em 0 0;
  /*removes fuzzy black edge at top*/
  backdrop-filter: blur(5px);
}
.individual-project__image-overlay:hover {
  opacity: 1;
}
.individual-project__image-overlay > * {
  transform: translateY(20px);
  /*text is pushed down 20px from original position*/
  transition: transform 0.25s;
}
.individual-project__image-overlay:hover > * {
  transform: translateY(0);
}
.individual-project__featured-skills {
  background-color: #0c111a;
  color: #2e94f7;
  padding: 0.5em 1em;
}
.individual-project__content {
  padding: 25px 0;
}
.individual-project__heading {
  font-family: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
}
.individual-project__paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  padding: 40px 20px;
  max-width: max-content;
}
.individual-project__website-link {
  font-size: 14px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f4f8fe;
  color: #0c111a;
  border-radius: 50px;
  padding: 1em 1em;
  transition: all 0.25s;
}
.individual-project__website-link:hover {
  cursor: pointer;
  background-color: #1778ed;
  color: white;
  letter-spacing: 0.2em;
}

.individual-project:hover {
  transform: scale(1.03);
}

#contact {
  grid-area: footer;
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  margin: 50px 0;
}
.footer__links {
  background-color: #f1f1f1;
  color: #0c111a;
  opacity: 0.8;
  border-radius: 30%;
  box-shadow: 0px 5px 15px -5px #00000070;
  transition: all 0.25s;
  padding: 9px;
}
.footer__links:hover {
  opacity: 1;
  transform: scale(1.1);
  background-color: #0c111a;
  color: #2e94f7;
}
.footer__paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 4.3em;
  /*this allows the page to occur under the header instead of behind it when using the navigation bar*/
  scroll-behavior: smooth;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "hd hd hd hd hd  " ". about  about  about ." "tech tech tech tech tech" "projects projects projects projects projects " " . .footer . . ";
}

.grid-container {
  padding: 55px 30px;
}
